{% extends "base.html" %}


   
{%block content%}
        <h1>{{student.name}} {{student.surname}} </h1><br>
        <br><br> 
      <div id="ind_tab_kont"class="container">
        <br>
        <table id="ind_t1" class="table table-striped">
          <tbody>
          <tr >
		  <td>дата рождения</td>
		  <td>{{student.date_of_birth|date:"N. d, Y"}}</td>
          </tr>
          <tr >
		  <td>адрес</td>
		  <td>{{student.address}}</td>
          </tr>
           <tr >
		  <td>почта</td>
		  <td>{{student.email}}</td>
          </tr>
          <tr >
		  <td>логин skype</td>
		  <td>{{student.skype}}</td>
          </tr>
          <tr >
		  <td>телефон</td>
		  <td>{{student.phone}}</td>
          </tr>
          <tr >
		  <td>курсы</td>
		  <td>
		  {%for course in courses%}
		    <a href="{%url 'courses:courses' %}{{course.id}}">{{course.name}}</a><br>
 		  {%endfor%}
		  </td>
          </tr>

          </tbody>

        </table>
      </div>
{%endblock content%}
