{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Add student{% endblock title %}


{% block nav_class_students %}active{% endblock nav_class_students %}


{% block content %}
  <div class="main">
    <div class="container">
      <div class="col-lg-12">
        <h3>Создание нового студента</h3>
        <form method='post'>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Добавить</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
