{% extends "base.html" %}


{% block title %}PyBursa - Students - Detail{% endblock title %}


{% block active_menu_main %}{% endblock active_menu_main %}


{% block active_menu_students %}"active"{% endblock active_menu_students %}


{% block content %}	
	<!-- Content begin -->
	<div class="container">
	  <div class="col-md-8">
	      <h1>{{cur_students.name}} {{cur_students.surname}}</h1>
	    <div class="panel panel-info">
          <!-- Default panel contents -->
            <div class="panel-heading">Students card:</div>
              <div class="panel-body">
	            <div class="table-responsive">
		          <table class="table table-bordered">
		            <thead>
			        </thead>
			        <tbody>
			          <tr>
			            <td><strong>Дата рождения</strong></td>
				        <td>{{cur_students.date_of_birth}}</td>
			          </tr>
			          <tr>
			            <td><strong>Адрес</strong></td>
				        <td>{{cur_students.address}}</td>
			          </tr>
			          <tr>
			            <td><strong>email</strong></td>
				        <td>{{cur_students.email}}</td>
			          </tr>
                      <tr>
			            <td><strong>skype</strong></td>
				        <td>{{cur_students.skype}}</td>
			          </tr>
			          <tr>
			            <td><strong>Телефон</strong></td>
				        <td>{{cur_students.phone}}</td>
			          </tr>
			          <tr>
			            <td><strong>Курсы</strong></td>
				        <td>
                          {% for i in cur_students.courses.all %}
                          <a href="{% url 'courses:detail' i.id %}"><p>{{i}}</p></a>
                          {% endfor %}
                        </td>
			          </tr>
			        </tbody>
		          </table>
		        </div>
			  </div>
		</div>
	  </div>
	  <div class="col-md-8">
	    <div class="panel panel-info">
          <!-- Default panel contents -->
            <div class="panel-heading">Performens:</div>
              <div class="panel-body">
	            <div class="table-responsive">
		          <table class="table table-bordered">
		            <thead>
					  <th>Course</th>
			          <th>Week</th>
			          <th>Control type</th>
			          <th>Grade</th>
			        </thead>
			        <tbody>
			          <tr>
			            <td>PY101 Introduction to Python</td>
				        <td>Week 1</td>
				        <td>
						  <p>Tests</p>
						  <p>Problem Task #1</p>
						</td>
				        <td>
						  <p>100%</p>
						  <p>100%</p>
						</td>
					  </tr>
			        </tbody>
		          </table>
		        </div>
			  </div>
		</div>
	  </div>
	<!-- Content end -->
{% include "include/panel_include.html" %}
{% endblock content %}
