{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Student Detail{% endblock %}

{% block nav_students_activ %}active{% endblock %}

{% block content %}
    <h1>{{s.name}} {{s.surname}}</h1>
    <table class="table table-striped">
        <tr>
          <td>
            дата рождения
          </td>
          <td>
            {{s.date_of_birth}}
          </td>
        </tr>
        <tr>
          <td>адрес</td>
          <td>{{s.address}}</td>
        </tr>
        <tr>
          <td>почта</td>
          <td>{{s.email}}</td>
        </tr>
        <tr>
          <td>логин skype</td>
          <td>{{s.skype}}</td>
        </tr>
        <tr>
          <td>телефон</td>
          <td>{{s.phone}}</td>
        </tr>
        <tr>
          <td>курсы</td>
          <td>
            {% for course in s.courses.all %}
              <a href="{% url 'courses:courses' %}{{course.id}}">{{course}}</a>
            {% endfor %}
          </td>
        </tr>
    </table>
{% endblock content %}