{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Students PyBursa{% endblock title %}


{% block nav_class_student %}active{% endblock %}


{% block content %}

  <div class="main_font">     
  <h1>{% block title_page %}{% endblock %}</h1>   
    <div class="container-fluid">       
      <table class="table">
        <thead class="table-bordered">
        {% for student in students %}
        <h1>{{ student.name }} {{ student.surname }}</h1>

          <tr>
            <td>Дата рождения</td>
            <td>{{ student.date_of_birth }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ student.email }}</td>
          </tr>
          <tr>
            <td>Телефон</td>
            <td>{{ student.phone }}</td>
          </tr>
          <tr>
            <td>Адрес</td>
            <td>{{ student.address }}</td>
          </tr>
          <tr>
            <td>Skype</td>
            <td>{{ student.skype }}</td>
          </tr>
          <tr>
            <td>Курсы</td>
            <td>
            {% for course in student.courses.all %} 
              {{ course.name }}
            {% endfor %}
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>          
  </div>
{% endblock content %}
