{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Editions{% endblock title %}


{% block nav_students %}active{% endblock nav_students %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="post">
    {% csrf_token %}
    <p>{{ edit_form.as_p }}</p>
    <input type="submit" value="Сохранить">
    </form>


{% endblock content %}