{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Edit studentl{% endblock title %}


{% block naw_class_students %}active{% endblock %}


{% block content %}

<h3 class="cl_h1">Edit student</h3>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

 <form method="post">
 {% csrf_token %}
 {{form.as_p}}
 <input type="submit" value="Edit">
 </form>

{% endblock content %}

