<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  {% load staticfiles %}
  <link rel="icon" href="{% static "images/favicon.ico" %}">

  <title>PyBursa - Student List</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{% static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet" >

  <!-- Custom styles for this template -->
  <link href="{% static "css/navbar.css" %}" rel="stylesheet">
  <!-- Personal styles for this project -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]>
  <script src="{% static "js/ie8-responsive-file-warning.js" %}"></script>
  <![endif]-->
  <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.js"></script>
  <![endif]-->
</head>

<body>

  <div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default my_navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'index' %}">Main</a>
            </li>
            <li>
              <a href="{% url 'contact' %}">Contacts</a>
            </li>
            <li>
              <a href="{% url 'students:list' %}">Students</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Students </h1>
      <h2>Description</h2>
      <p>
        Students list on our School! Enjoy!
      </p>
    </div>

    <div class="my_jumbotron my_transparensy07" title="The material that will be taught on the course">
      <h2>Students list</h2>
    </div>

   <table class="my_table">
    <thead>
      <tr>
        <th class="my_fistcolsize my_transparensy07">#</th>
        <th class="my_secondcolsize my_transparensy07">Surname Name</th>
        <th class="my_secondcolsize my_transparensy07">Address</th>
        <th class="my_secondcolsize my_transparensy07">Skype</th>
        <th class="my_secondcolsize my_transparensy07">Courses</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'students:detail' student.id %}">
            {{ student.surname }} {{ student.name }}</a></td>
        <td>{{ student.address }}</td>
        <td>{{ student.skype }}</td>
        <td>
            {% for student in student.courses.all %}
            <a href="{% url 'courses:detail' student.id %}">{{ student }}</a>
            {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <!-- /container -->

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="{% static "js/vendor/jqueryjs" %}"><\/script>')</script>
<script src="{% static "js/bootstrap.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
</body>
</html>