{% extends "base.html" %}

{% load staticfiles %}


{% block title %}Students list{% endblock title %}


{% block naw_class_students %}active{% endblock %}


{% block content %}
<div class="container">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


 <p> <a href="{% url 'students:add' %}"> Add new student</a></p>
  <h1>Список студентов</h1>

  <table class="table">
    <tr>
      <th>#</th>
      <th>фамилия имя</th>
      <th>адрес</th>
      <th>skype</th>
      <th>курсы</th>
    </tr>
    {% for a in deskr %}
    <tr>
      <td>{{a.id}}</td>
      <td>
        <a href="{% url 'students:detail' a.id %}">{{a.surname}} {{a.name}}</a>
      </td>
      <td>{{a.address}}</td>
      <td>{{a.skype}}</td>
      <td>
        {% for s in a.courses.all %}
        <a href="{% url 'courses:detail' s.id %}">
          {{s}}
          <br/>
        </a>
        {% endfor %}
      </td>
      <td>
        <a href="{% url 'students:edit' a.id %}">Edit</a>
      </td>
      <td>
        <a href="{% url 'students:remove' a.id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}