{% extends "base.html" %}


{% block title %}PyBursa - Remove student{% endblock title %}


{% block jambotron_content %}
<div class="jumbotron headerpic">
  <h1>Remove student</h1>
  <h2>Description</h2>
  <p>
    Student {{ student.name }} {{ student.surname }} will be deleted :(
  </p>
</div>
{% endblock jambotron_content %}


{% block inline_content %}
If You are confident in this action, click "Delete" button
{% endblock inline_content %}


{% block content %}
<form method="post">
  {% csrf_token %}
  <input type="submit" value="Delete" />
</form>
{% endblock content %}