{% extends "base.html" %}


{% load staticfiles %}


{% block title %}PyBursa-Students{% endblock title %}


{% block active_menu_students %}active{% endblock active_menu_students %}


{% block content %}	
	<!-- Content begin -->
	<div class="container" id="Content">
	  <div class="col-md-8">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <!-- Standard button -->
        <a href="{% url 'students:add' %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Добавить нового студента</button></a>
        <h1>Список студентов</h1>
	  </div>
	  <div class="col-md-8">
	    <div class="table-responsive">
		  <table class="table table-bordered">
		    <thead>
              <th>#</th>
			  <th>Фамилия Имя</th>
			  <th>Адрес</th>
              <th>skype</th>
              <th>курсы</th>
			</thead>
			<tbody>
              {% for i in student_list %}
			  <tr>
				<td>{{i.id}}</td>
				<td><a href="{% url 'students:detail' i.id %}">{{i.name}} {{i.surname}}</a></td>
                <td>{{i.address}}</td>
                <td>{{i.skype}}</td>
                
                <td>
                    {% for i in i.courses.all %}
                    <a href="{% url 'courses:detail' i.id %}"><p>{{i}}</p></a>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'students:edit' i.id %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Изменить</button></a>
                </td>
                <td>
                    <a href="{% url 'students:remove' i.id %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Удалить</button></a>
                </td>
			  </tr>
              {% endfor %}
			</tbody>
		  </table>
        </div>
	  </div>
	<!-- Content end -->
{% include "include/panel_include.html" %}
{% endblock content %}
