{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Students PyBursa{% endblock title %}


{% block nav_class_student %}active{% endblock %}


{% block content %}

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
  {% endif %}

  <h2>{{ title }}</h2>

  <form method="post">
  {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить"/>
  </form>


{% endblock content %}
