{% extends 'base.html' %}

{% block student_active %}active{% endblock %}

{% block title %}Список студентов{% endblock title %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<br>
<a href="{% url 'students:add' %}" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-plus-sign"></span> Добавить нового студента</a>
<br>
  
  <h1>Список студентов</h1>
  <p>{{ course.description }}</p>
  <table class="table" >
  <thead>
      <tr class="success">
          <th>#</th>
          <th>фамилия имя</th>
          <th>адрес</th>
          <th>skype</th>
          <th>курсы</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
      </tr>
  </thead>
  <tbody>
  {% for student in object_list %}
      <tr class="info">
          <td>{{ student.id }}</td>
          <td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
          <td>{{ student.address }}</td>
          <td>{{ student.skype }}</td>
          <td>
          {% for student_course in student.courses.all %}
          <p><a href="{% url 'courses:detail' student_course.id %}">{{ student_course.name }}</a></p>
          {% endfor %}
          </td>
          <td>
            <a href="{% url 'students:edit' student.id %}" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-pencil"></span> Изменить</a>
          </td>
          <td>
            <a href="{% url 'students:remove' student.id %}" class="btn btn-primary btn-xs" role="button"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
          </td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
  <ul class="pagination">
      {% if page_obj.has_previous %}
          <li><a href="students/?{% if course_id %}course_id={{ course_id }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Previous">previous</a></li>
      {% endif %}
      {% for page in page_obj.paginator.page_range %}
          {% if page == page_obj.number %}
              <li class="active"><a href="students/?{% if course_id %}course_id={{ course_id }}&{% endif %}page={{ page }}">{{ page }}</a></li> 
          {% else %}
              <li><a href="students/?{% if course_id %}course_id={{ course_id }}&{% endif %}page={{ page }}">{{ page }}</a></li> 
          {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
          <li><a href="students/?{% if course_id %}course_id={{ course_id }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Next">next</a></li>
      {% endif %}
  </ul>
{% endblock %}
