{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock title %}


{% block nav_class_students %}active{% endblock nav_class_students %}


{% block content %}
  <div class="main">
    <div class="container">
      <div class="col-lg-12">
        <h3>Студент {{ object.name }} {{ object.surname }} будет удален</h3>
        <form method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" value="Delete">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
