{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock title %}


{% block nav_class_students %}active{% endblock nav_class_students %}


{% block content %}
  {% include "include/inc_message.html" %}
  <div class="main">
    <div class="container">
      <div class="col-lg-12">
        <h3>{{ title }}</h3>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Save changes">
      </form>
    </div>
  </div>
{% endblock content %}
