{% extends "base.html" %}


{% load staticfiles %}


{% block title %}PyStudents{% endblock title %}


{% block content %}
  {% if messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for message in messages %}{{ message }}{% endfor %}
        </div>
    {% endif %}
  <div>
    <button class="btn"><a href="{% url 'students:add' %}">Добавить нового студента</a></button>
  </div>
  <div class="jumbotron">
    <div class="container">
      <h1>Список студентов</h1>

    </div>
  </div>
  
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Фамилия и имя</th>
        <th>Адрес</th>
        <th>Skype</th>
        <th>курсы</th>
        
      </tr>
    </thead>
    <tbody>
    {% for student in student_list %}
      <tr>
        <td>{{ student.id }}</td>
        <td><a href="{% url 'students:detail' student.id %}">{{ student.name }} {{ student.surname }}</a></td>
        <td>{{ student.address }}</td>
        <td>{{ student.skype }}</td>
        <td>
            {% for course in student.courses.all %}
                <p><a href="{% url 'courses:detail' course.id %}">{{ course }}</a></p>
            {% endfor %} 
        </td>
        <td>
            <button class="btn"><a href="{% url 'students:edit' student.id %}">Изменить</a></button>
        </td>
        <td>
            <button class="btn"><a href="{% url 'students:remove' student.id %}">Удалить</a></button>
        </td>       
      </tr>
    {% endfor %}
    </tbody>
  </table>
<nav>
  <ul class="pagination">
   
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}"><< previous</a></li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
            
            {% else %}
                <li class='disabled'><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">next >></a></li>
        {% endif %}
    
  </ul>
</nav>
{% endblock content %}  
    
