{% extends "base.html" %}
{% load static %}


{% block title %}Информация о студенте{% endblock title %}


{% block nav_students %}active{% endblock nav_students %}


{% block content %}
    <h1>{{student.name}} {{student.surname}}</h1>
    <table class="table">
        <tbody>
            <tr class="info">
                <td>дата рождения</td>
                <td>{{student.date_of_birth}}</td>
            </tr>
            <tr class="info">
                <td>адрес</td>
                <td>{{student.address}}</td>
            </tr>
            <tr class="info">
                <td>почта</td>
                <td>{{student.email}}</td>
            </tr>
            <tr class="info">
                <td>логин skype</td>
                <td>{{student.skype}}</td>
            </tr>
            <tr class="info">
                <td>телефон</td>
                <td>{{student.phone}}</td>
            </tr>
            <tr class="info">
                <td>курсы</td>
                <td>
                    {% for course in student.courses.all %}
                        <p><a href="{% url 'courses:detail' course.id %}">{{course.name}}</a></p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}