<td>
            {% for course_c in course_coach %}
            <p><a href="{% url 'courses:detail' course_c.id %}"> {{ course_c.name }}</a> Студенты <a href="{% url 'students:list' %}?course_id={{ course_c.id }}"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></a></span></p>
            {% endfor %}
            
      </td>
      </tr>
      <tr>
        <td> Ассистент</td>
        <td>
            {% for course_a in course_assistant %}
            <p><a href="{% url 'courses:detail' course_a.id %}"> {{ course_a.name }}</a> Студенты <a href="{% url 'students:list_view' %}?course_id={{ course_a.id }}"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></a></span></p>
            {% endfor %}
        </td>
