<div>
  Надоело собирать знания по крупицам?
Наибольшей проблемой всех учебников и статей, по которым начинают изучать Python - это отсутствие практики с освоенным материалом. Можно читать тонны ресурсов по веб-программированию на Python - и
не научиться ничему, потому что знания, которые вы не успели применить, очень быстро забываются.
Многие начинающие сдаются на полпути, так как устают, им надоедает бесконечное блуждание по сети в поисках крупиц информации, из которых трудно собрать общую картину. 
</div>
