<ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><< previous</span></a></li>

        {% endif %}
        {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
                <li class="active btn-xs"><a href="?page={{ page }}">{{ page }}<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="?page={{ page }}">{{ page }}<span class="sr-only">(current)</span></a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" aria-label="Next">next >></span></a></li>
        {% endif %}
</ul>
