H1 {
  color: #000080;
  font-size: 110%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}

P {
  padding-left: 5px;
}


body{
padding: 15px;
background-color: #F5F5F5;}

.name{
font-weight: bold;
padding: 15px;
}


.contact{color: green;
}

.contact_back{
background-color: 	#FFEFD5
}

.manager{
 background-color:transparent;
}

.director{
background-color:transparent;}

.founder{background-color:transparent;
}



.list_1{font-style: italic;
text-align: left;
}

.footer{
color: #696969;

}


.footer_div{
display:inline;
}
/*background-color: 	#F0FFF0*/

.menu_large_font_my{
  font-size: 135%;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  font-family: Arial, Verdana, sans-serif;
}

.img_resized{
	width: 30px;
	height: 30px;
}


.divider-vertical {
    height: 50px;
    margin: 0 8px;
    border-right: 1px solid #F5F5F5;
    border-left: 1px solid #F5F5F5;
    }

.center_div {
width: 600px;
margin: auto;
}

.right_div{
width: 100%;
margin-left: auto;	
}
