.my_jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #C2F2F3;
  text-align: center;
}

.my_navbar-default {
  background-color: #C2F2F3;
  border-color: #e7e7e7;
}

.my_table {
	border-spacing: 100px 100px;
}

.my_table td {
	padding: 4px;
}

.my_table th{
	padding: 4px;
	text-align: center;
	color:#296686;
	background-color: #E5AF36;
}

.my_table tr td{
	vertical-align: top;
}

.my_firstcolsize {
	width: 10%;
}

.my_secondcolsize {
	width: 40%;
}

.my_thirdcolsize {
	width: 50%;
}

.my_table tr:hover td{
	background: #DFE9FF;
}

.jumbotron > h2 {
  color: #296685;
}