body {
  padding-top: 50px;
  background: #e6ffff
}
.style {
  padding: 40px 15px;
  text-align: left;
}

#foto {
  height: 137px;
  width: 110px;
}

img {
  height: 100px;
  width: 100px;
}

.main_font {
  font-family:"Times New Roman", Times, serif;
  font-size:200%;
}


h1{
text-align: center;
}



.img-brand {
  height: 50px;
  width: 60px;
  margin: 0;
  padding-right: 10px;;
}
