div.container {background:#DCDCDC ; width: auto}
div.dir {background:#DCDCDC}
h1.desc {background:#DCDCDC; border-radius:15px; padding-left: 15px}
h2.prog {background:#DCDCDC; border-radius:15px; padding-left: 15px}
h2.kurs {background:#DCDCDC; border-radius:15px; padding-left: 15px}
h4.about {background:#DCDCDC; border-radius:15px; padding-left: 15px}
h3.director {text-decoration:underline}
h3.manager {text-decoration:underline}
h3.founder {text-decoration:underline}
h1.organization {line-height: 100%;text-align: center}
div.NameMan {color: green}
div.NameDir {color: green}
div.NameFoun {color: green}
div.skype{color: dodgerblue }
div.phone{color: red}
div.email{color: red}
#Margin {margin-top: 15px}
td.student_info{font-size: 16px;}
td.student_rating{font-size: 16px; font-weight: 600}
td.student_grade{font-size: 16px; font-weight:400}
td.student_skype{font-style: italic; font-size: 18px}
body{font-family: inherit; font-size: 14px}
