.unpoint{
    list-style-type: none;
}
.left-unmarge{
    margin-left: 0;
    padding-left: 0;
}
.centralize{
    text-align: center;
}
.underline{
    text-decoration: underline;
}
.abs{
    left: 0;
}
.img-size{
    width: 250px;
}
.img-format{
    border: 3px solid black;
}
.img-radius{
    border-radius: 20px;
}
.background{
    background-color: seashell;
}
.gradient {
    background-color: #acdabb;
}
.marker{
    font-weight: 900;
}
.bord-left{
    border-left: 2px solid gray;
}
.bord-right{
    border-right: 2px dashed gray;
}
.line-through{
    text-decoration: line-through;
}
.text-al-r{
    text-align: right;
}
.fn-grey{
    color: gray;
}