{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock title %}


{% block blow_feedback %}active{% endblock blow_feedback %}


{% block content %}
{% if messages %}
 
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{% for message in messages %}{{ message }}{% endfor %}</div>
{% endif %}
  <div class='container'>
    <h3> Your feedback </h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Создать" />
     </form>
  </div>
  
{% endblock content %}  
    
