{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="python framework jango обучение">
    <meta name="author" content="">

    <title>Главная. Описание курса PyBursa</title>
    <script src="{%static 'js/jquery-2.2.2.js'%}"></script>
    <script src="{%static 'js/bootstrap.js'%}"></script>

    <link href="{%static 'css/style.css'%}" rel="stylesheet">

    <link href="{%static 'css/bootstrap.css'%}" rel="stylesheet">

   </head>

  <body>


    <div class="container-fluid">
      <ul class="nav nav-tabs">
  	<li role="presentation" id="ind_lnk1"><a href="{% url 'index'%}">ItBursa</a></li>
  	<li role="presentation" id="ind_lnk2" ><a href="{% url 'index'%}">Главная</a></li>
  	<li role="presentation" id="ind_lnk3"><a href="{% url 'contact'%}">Контакты</a></li>
    <li role="presentation" id="ind_lnk4"><a href="{% url 'students:student_list'%}?course_id={{course.id}}">Студенты</a></li>
  	<li role="presentation" ><a href="{% url 'results'%}">Уравнение</a></li>
      </ul>


   
<body>
  

        <h1 class='title' >{{course.name}}</h1><br>
        <p >{{course.description}} </p>
        <br><br> 
      <div id="ind_tab_kont"class="container">
        <h3 >План курса</h3>
        <br>
        <table id="ind_t1" class="table table-striped">
          <tbody>
          <tr >
            <th >#</th>
            <th >Тема</th>
            <th>Описание </th>
          </tr>
       {%for lesson in lessons_list%}
          <tr>
            <td>{{lesson.order}} </td>
            <td>
              {{lesson.subject}}
            </td>
            <td>
              {{lesson.description}}
            </td>
           </tr> 
       {%endfor%}
          </tbody>

        </table>
      </div>
</body>
</html>
