<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <style>
      body { background: url('{{ STATIC_URL }}images/Fon.png'); }
    </style>
  </head>

<body>
  <div class="page">    
    <nav class="navbar navbar-inverse">
      <a href="{% url 'index' %}" class="{% block nav_index %}{% endblock %}">Main</a>
      <a href="{% url 'contact' %}" class="{% block nav_contact %}{% endblock %}">Contacts</a>
      <a href="{% url 'students:list_view' %}{% block students_course %}{% endblock %}" class="{% block nav_students %}{% endblock %}">Students</a>
    </nav>
  </div>
  <div class="page"> 
{% block content %}{% endblock content %}
  </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{%  static 'js/bootstrap.js' %}></script>
</body>

  
</html>