{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="python framework jango обучение">
    <meta name="author" content="">
    <title>{% block title %}Главная. Описание курса PyBursa{% endblock title %}</title>
    <script src="{%static 'js/jquery-2.2.2.js'%}"></script>
    <script src="{%static 'js/bootstrap.js'%}"></script>
    <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <link href="{%static 'css/bootstrap.css'%}" rel="stylesheet">
  </head>

  <body class="header">
    <div class="container">
      <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
		    <li role="presentation" class={% block index_active %}{% endblock %}><a href="{% url 'index' %}">Главная</a></li>
		    <li role="presentation" class={% block contact_active %}{% endblock %}><a href="{% url 'contact' %}">Контакты</a></li>
		    <li role="presentation" class={% block student_active %}{% endblock %}><a href="{% url 'students:list_view' %}?course_id={{ course.id }}">Студенты</a></li> 
		    <li role="presentation" class={% block quadratic_active %}{% endblock %}><a href="{% url 'quadratic:results' %}">Уравнение</a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
	  {% block content %}
      {% endblock content %}
	</div>
  </body>
  
</html>
