{% extends "base.html" %}


{% block title %}PyBursa - Contacts{% endblock title %}


{% block active_menu_main %}{% endblock active_menu_main %}


{% block active_menu_contacts %}"active"{% endblock active_menu_contacts %}


{% block content %}
	<!-- Content begin -->
	<div class="container">
	  <div class="col-md-8">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Director</h3>
		  </div>
		  <div class="panel-body">
			<p>Name:</p>
			<p>Skype:</p>
			<p>Email:</p>
			<p>Phone:</p>
		  </div>
        </div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Manager</h3>
		  </div>
		  <div class="panel-body">
			<p>Name:</p>
			<p>Skype:</p>
			<p>Email:</p>
			<p>Phone:</p>
		  </div>
        </div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Founder</h3>
		  </div>
		  <div class="panel-body">
			<p>Name:</p>
			<p>Skype:</p>
			<p>Email:</p>
			<p>Phone:</p>
		  </div>
        </div>
	  </div>
	<!-- Content end -->
{% include "include/panel_include.html" %}
{% endblock content %}
