{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Contacts PyBursa{% endblock title %}


{% block naw_class_contacts %}active{% endblock %}


{% block content %}
<div class="container">
  <div class="page-geader">
    <h1 class="cl_h1">PyBursa</h1>
  </div>

  <article class="row">
    <div class="col-xs-4">
      <h3 class="cl_h3">Director</h3>
      <p> <b id="b_f">Name:</b>
        Алексей Радченко
      </p>
      <p> <b id="b_f">Skype:</b>
        dixon.che
      </p>
      <p>
        <b id="b_f">Email:</b>
        dixon-che@gmail.com
      </p>
      <p>
        <b id="b_f">Phone:</b>
        +38 096 469 15 57
      </p>
    </div>

    <div class="col-xs-4">
      <h3 class="cl_h3">Manager</h3>
      <p>
        <b id="b_f">Name:</b>
        Дария Михалевич
      </p>
      <p>
        <b id="b_f">Skype:</b>
        darka.darka.darka.darka.
      </p>
      <p>
        <b id="b_f">Email:</b>
        daria.mykhalevych@gmail.com
      </p>
      <p>
        <b id="b_f">Phone:</b>
        +38 096 469 15 57
      </p>
    </div>

    <div class="col-xs-4">
      <h3 class="cl_h3">Founder</h3>
      <p>
        <b id="b_f">Name:</b>
        Павел Обод
      </p>
      <p>
        <b id="b_f">Skype:</b>
        azaless
      </p>
      <p>
        <b id="b_f">Email:</b>
        itbursa100@gmail.com
      </p>
      <p>
        <b id="b_f">Phone:</b>
        +38 096 469 15 57
      </p>
    </div>
  </article>
</div>
{% endblock content %}