<!DOCTYPE html>
<html lang="en">
<head>
		<title>Contacts PyBursa</title>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
		<div class="header-menu">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<span class="navbar-brand">PyBursa</span>
					</div>
					<div class="navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="index.html">Main</a></li>
							<li class="active"><a href="contact.html">Contacts</a></li>
							<li><a href="student_list.html">Students</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="row"></div>
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<img class="img-rounded" src="../static/images/director.png">
				<h2><span class="glyphicon glyphicon-king"></span>Director</h2>
				<ul>
					<li><h4><span>Name</span>: Radchenko Alecksei</h4></li>
					<li><h4><span>Skype</span>: skjgkk</h4></li>
					<li><h4><span>Email</span>: sjklghjks@gmail.com</h4></li>
					<li><h4><span>Phone</span>: +38 094 344 34 34</h4></li>
				</ul>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<img class="img-circle" src="../static/images/manager.png">
				<h2><span class="glyphicon glyphicon-bishop"></span>Manager</h2>
				<ul>
					<li><h4><span>Name</span>: Daria Mikhalevich</h4></li>
					<li><h4><span>Skype</span>: ahfdklsjhf</h4></li>
					<li><h4><span>Email</span>: askdjaf@gmail.com</h4></li>
					<li><h4><span>Phone</span>: +38 094 344 34 34</h4></li>
				</ul>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<img class="img-thumbnai" src="../static/images/founder.png">
				<h2><span class="glyphicon glyphicon-queen"></span>Founder</h2>
				<ul>
					<li><h4><span>Name</span>: Pavel Obod</h4></li>
					<li><h4><span>Skype</span>: fdgsdfg</h4></li>
					<li><h4><span>Email</span>: sfgsfdgsdf@gmail.com</h4></li>
					<li><h4><span>Phone</span>: +38 934 935 34 34</h4></li>
				</ul>
			</div>
		<script type="text/javascript" src="../static/js/bootstrap.js"></script>
</body>
</html>