{% extends "base.html" %}

{% block title %}Feedback{% endblock title %}

{% block nav_class_feedback %}active{% endblock nav_class_feedback %}

{% block content %}
<div class="container">
  <div class="well">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h2>Fill in form below:</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Send" />
    </form>
  </div>
</div>
{% include "include/copyright_include.html" with current_year="2016" %}
{% endblock content %}
