{% extends "base.html" %}


{% block title %}Itbursa {{ title }}{% endblock title %}


{% block nav_class_feedback %}active{% endblock %}


{% load staticfiles %}


{% block content %}


{% if messages %}
<div class="alert alert-success" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}  
</div>
{% endif %}

<div class="page-header">
	<h2>Форма обратной связи</h2>
</div>

<div class="form-group form-group-lg">
	<form method="post">
		{% csrf_token %}          
		{{ form.as_p }}
		<input type="submit" value="Отправить"/>
	</form>
</div>
{% endblock content %}

