{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bursa main</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">   
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">        
        <li class="active"><a href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'contact' %}">Контакты</a></li>
        <li><a href="{% url 'students:list_view' %}">Студенты</a></li>        
      </ul>            
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <div class="container">
      <h1>PyBursa</h1>
      <p>Мы специализируемся на "модных" языках программирования. Принципиальное наше отличие от</p>   
      <p>других курсов - максимум практики и жесткая система обязательных домашних заданий.</p>
    </div>
	<div class="container" id="id2">
	<h3>Выбирай на каком курсе ты хочешь учиться!</h3>
	  <table class="table">
		<thead id="id2">
		  <tr>
		   <td>Курс</td>
		   <td>описание</td>
		  </tr>
		</thead>
		<tbody>
		<!--{% block content %}-->
		{% for i in courses %}
		  <tr>
		    <td><a href="{% url 'courses:detail' i.id %}">{{ i.name }}</a></td>
		    <td>{{ i.short_description }}</td>
		  </tr>
		{% endfor %}
	   <!--{% endblock %}-->
	   </tbody>	
	  </table>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/js/bootstrap.js' %}"></script>
  </body>
</html>
