{% extends "base.html" %}


{% block title %}Главная - pyBursa{% endblock %}


{% block nav_index %}button8{% endblock %}
{% block nav_contact %}button9{% endblock %}
{% block nav_students %}button9{% endblock %}


{% block content %}
{% if messages %}
  <div class="alert alert-success"><ul class="messages">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}{{ message }}{%endif %}
      </li>
    {% endfor %}
    </ul></div>
{% endif %}

		<nav class="ramka">
			<h1>Курсы PyBursa</h1>
      <h2>Description</h2>
      <p>Практический курс по изучению современного языка программирования Python и фреимворка Django. Обучение будет проходить с уклоном в веб-разработку. Мы учим начинающих программистов до уровня Junior Python Developer и после окончания курса все ученики могут претендовать на эту должность в любой интернет-компанию. Весь курс построен на практике: преподаватели-практики, обучение на примере разработки реальных проектов, практические домашние задания. На курсе мы Вас познакомим с языком Python, фреимворком Django, научим работать с базами данных, покажем, как проводить UnitTest, вместе сделаем работающий проект на Python / Django и освоим еще много полезного. После успешного окончания обучения всем предоставляется именной сертификат, который высылается почтой владельцу. Для нас это уже третья группа, и многие из наших учеников успешно работают в сфере Python Development. Курс совершенствуется из года в год и становится еще более эффективным.</p>
		</nav>
   <div class="page-header">
     <h1>Выбирай на каком курсе ты хочешь учиться!</h1>
   </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table">
            <thead>
              <tr>
                <th>Курс</th>
                <th>Описание</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
                <tr>
            <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
            <td>{{ course.short_description|truncatechars:70 }}</td>
            <td>
              <a href="{% url 'courses:edit' course.id %}" class="btn btn-info" role="button">
              <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>
            <td>
              <a href="{% url 'courses:remove' course.id %}" class="btn btn-danger" role="button">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
<a href="{% url 'courses:add' %}" class="btn btn-success btn-block btn-xs" role="button">
  <span class="glyphicon glyphicon-plus"></span>
  Добавить новый курс
</a>
        </div>
    </div>


{% endblock content %}