<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>PyBursa</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">        
        <li class="active"><a href="index.html">PyBursa<span class="sr-only">(current)</span></a></li>
        <li><a href="contact.html">Contacts</a></li>        
      </ul>            
   </nav>
    <div class = "container">
    <h1 class="desc">Профессиональные Python курсы</h1>
    <h2 class="prog">Description</h2>
    <h2 class="kurs">Program</h2>   
    
   
    </div>
    
  </body>
</html>
