{% extends "base.html" %}


{% block title %}PyBursa - Student Detail{% endblock title %}


{% block nav_class_student %}active{% endblock nav_class_student %}


{% block jambotron_content %}
    <div class="jumbotron">
      <h1>Chernish Sergey</h1>
      <h2>Student</h2>
      <p>Detailed information</p>
    </div>
{% endblock jambotron_content %}


{% block inline_content %}Selected student infocard {% endblock inline_content %}


{% block content %}
    <div>
      <table class="my_table_stperf">
        <caption>Student's card</caption>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">Surname</th>
          <td>Chernish</td>
        </tr>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">Name</th>
          <td>Sergey</td>
        </tr>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">Patronymic</th>
          <td>Nikolayevich</td>
        </tr>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">Rating</th>
          <td>13</td>
        </tr>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">Average Grade</th>
          <td>89</td>
        </tr>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">Package</th>
          <td>Standart</td>
        </tr>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">Birth Date</th>
          <td>14/06/1980</td>
        </tr>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">Address</th>
          <td>Ukraine, Kharkov, Pushkinskaya st., 82</td>
        </tr>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">E-mail</th>
          <td>sergey.chernish@gmail.com</td>
        </tr>
        <tr>
          <th class="my_firstcolsize_st my_transparensy07">Skype</th>
          <td>AxellCherry</td>
        </tr>
      </table>
    </div>
    <div>
      <table class="my_table_stperf">
        <caption>Perfomance</caption>
        <tr>
          <th class="my_fourscosize_st my_transparensy07">Cource</th>
          <th class="my_secondcolsize_st my_transparensy07">Week</th>
          <th class="my_thirdcolsize_st my_transparensy07">Control Type</th>
          <th class="my_fourscosize_st my_transparensy07">Grade</th>
        </tr>
        <tr>
          <td rowspan="5">PY101 Itroduce in Python</td>
          <td rowspan="3">Week1</td>
          <td>Tests</td>
          <td>89%</td>
        </tr>
        <tr>
          <td>Problem Task №1</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Problem Task №2</td>
          <td>100%</td>
        </tr>
        <tr>
          <td rowspan="2">Week2</td>
          <td>Tests</td>
          <td>89%</td>
        </tr>
        <tr>
          <td>Problem Task №1</td>
          <td>100%</td>
        </tr>
      </table>
    </div>
{% endblock content %}