<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyBursa - Student (Bolotyuh Timur)</title>
    {% load staticfiles %}
    <link href="{% static '/static/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/static/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/static/js/bootstrap.min.js' %}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Main</a></li>
            <li><a href="{% url 'contact' %}">Contacts</a></li>
            <li class="active"><a href="{% url 'student_list' %}">Students</a></li>
        </ul>
    </div>
</nav>

<div class="container main-container">
    <div class="alert alert-success" role="alert">Запишись на следующий курс: PyBursa_05</div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Bolotyuh Timur</h2></div>
                <div class="panel-body">
                    <p>Personal information:</p>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>Surname</td>
                            <td>Bolotyuh</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Timur</td>
                        </tr>
                        <tr>
                            <td>Patronymic</td>
                            <td>Oleksandrovich</td>
                        </tr>
                        <tr>
                            <td>Birth Date</td>
                            <td>09.03.1993</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Khmelnitsky</td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>t.bolotyuh@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Skype</td>
                            <td>t_bolotyuh</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>Performance</p>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Course</th>
                            <th>Week</th>
                            <th>Control type</th>
                            <th>Grade</th>
                            <th>Average Grade</th>
                            <th>Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Основы Python</td>
                            <td>1</td>
                            <td>
                                <p>Tests</p>
                                <p>Problem Task №1</p>
                                <p>Problem Task №2</p>
                            </td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>Rating #2</td>
                        </tr>
                        <tr>
                            <td>Web разработка на Python/Django</td>
                            <td>2</td>
                            <td>
                                <p>Tests</p>
                                <p>Problem Task №2</p>
                            </td>
                            <td>100%</td>
                            <td>100%</td>
                            <td>Rating #3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
