{% extends "base.html" %}

{% block title %}
<title>Махно Юрий</title>
{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">DjBursa</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'index' %}">Main</a></li>
        <li><a href="{% url 'contact' %}">Contacts</a></li>
        <li><a href="{% url 'students:list_view' %}">Students</a></li>
        <li><a href="{% url 'results' %}?a=&b=&c=">Quadratic</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock navbar %}

{% block content %}
<div class="row">
  <div class="col-lg-3 text-center student-full-name">
    <h1>Махно Юрий</h1>
    <img src="{% static 'images/avatar.jpg' %}" class="img-responsive .img-thumbnail">
  </div>
  <div class="col-lg-6">
    <table class="table table-detail table-hover">
      <tr>
        <th>Surname</th>
        <td>Махно</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>Юрий</td>
      </tr>
      <tr>
        <th>Patronymic</th>
        <td>Батькович</td>
      </tr>
      <tr></tr>
      <th>Birth Date</th>
      <td>31.03.1983</td>
      <tr></tr>
      <th>Address</th>
      <td>г. Харьков, ул. Петровского, 15</td>
      <tr>
        <th>E-mail</th>
        <td>makhnoy@gmail.com</td>
      </tr>
      <tr>
        <th>Skype</th>
        <td>makhnoy</td>
      </tr>
    </table>
  </div>
  <div class="col-lg-3 text-center student-progress">
    <div class="panel panel-default">
      <div class="panel-heading">Average Grade</div>
      <div class="panel-body">
        100
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Rating</div>
      <div class="panel-body">
        1
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>Таблица выполненных эаданий</p>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Course</th>
          <th>Week</th>
          <th>Control Type</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="6">Django 101</td>
          <td rowspan="3">Week 1</td>
          <td>Tests</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Problem Task 1</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Problem Task 2</td>
          <td>100</td>
        </tr>
        <tr>
          <td rowspan="3">Week 2</td>
          <td>Tests</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Problem Task 1</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Problem Task 2</td>
          <td>100</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
