{% extends "base.html" %}

{% block title%}Students% endblock%}

{% block status_student %}active{% endblock %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Students</title>
    <meta charset="UTF-8" />
    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--Own css-->
	  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>


  <body>
    <nav class="navbar navbar-default">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Main</a></li>
            <li><a href="{% url 'contact' %}">Contacts</a></li> 
            <li class="active"><a href="{% url 'student_list' %}">Students</a></li> 
          </ul>          
        </div>
    </nav>
       
    <table class="jumbotron" align="center">
      <tr><td><img class="logo" src="{% static 'images/logo.png' %}" alt="Python" /></td></tr>
    </table>  
    
    <h1 class="header">PyBursa students</h1>
    <p class="jumbotron">This is information about dummy students from PyBursa course</p>

    <!-- Table -->
    <table class="table">
      <tr class="head">
        <td>No</td>
        <td>Surname</td>
        <td>Name</td>
        <td>Address</td>
        <td>Skype</td>
      </tr>
      <tr>
        <td><a href="{% url 'student_detail' %}">1</a></td>
        <td>Pupkin</td>
        <td>Vasya</td>
        <td>Kharkov</td>
        <td>VPupkin</td>
      <tr class="back">
        <td>2</td>
        <td>Ivanov</td>
        <td>Ivan</td>
        <td>Sumy, Kovpaka str. 105</td>
        <td>Ivanov_Ivan</td>
      </tr>
      <tr class="body">
        <td>3</td>
        <td>Petrov</td>
        <td>Kolya</td>
        <td>Istambul</td>
        <td>PKolya</td>
      </tr>
      <tr class="back">
        <td>4</td>
        <td>Yasina</td>
        <td>Inna</td>
        <td>Kiev</td>
        <td>Kisulya</td>
      </tr>
      <tr class="body">
        <td>5</td>
        <td>Ivanova</td>
        <td>Masha</td>
        <td>Lvov</td>
        <td>Mashulya</td>
      </tr>
    </table>
       

    <hr />

    
    <nav>
      <ul class="pager">
        <li><a href="{% url 'contact' %}">Previuos</a></li>
      </ul>
    </nav>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>