{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Course Add Page{% endblock %}

{% block nav_class_students %}active{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="header">Adding new course</h1>
  </div>
  
  <div class="container" id="add-form">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p class="field-name">{{ field.label }}</p> 
        <p class="field-value course-value">{{ field }}</p>
      {% endfor %}
      <input type="submit" name="" value="Create" class="field btn btn-primary">
    </form>
  </div>
{% endblock %}

