{% extends "base.html" %}

{% load staticfiles %}

{% block title %}PyBursa - Add Course{% endblock title %}

{% block nav_class_main %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="well">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h2>{{ title }}</h2>
    <h2>Add new course</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create" />
    </form>
  </div>
</div>
{% include "include/copyright_include.html" with current_year="2016" %}
{% endblock content %}
