{% extends "base.html" %}

{% block title %}DjBursa - Редактирование данных курса{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
  {% if messages %}
    <div class="alert alert-success">
      <ul class="messages">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              {{ message }}
            {%endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <h3>Редактирование данных курса</h3>
  <form method="post">
  {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Изменить"></p>
  </form>
  </div>
</div>
{% endblock content %}
