{% extends "base.html" %}


{% block title %}Itbursa {{ title }}{% endblock title %}


{% block nav_class_students %}active{% endblock %}


{% block content %}

{% include "include/messages_include.html" %}

<br>


  <div class="page-header">
    <h2 class="text-center">{{ title }}</h2>
  </div>

  <div class="form-group form-group-lg">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Изменить"/>
    </form>
  </div>
  </br>
{% endblock content %}
