{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock title %}


{% block active_main %}active{% endblock active_main %}


{% block content %}
  <div class="main">
    <div class="container">
      <div class="col-lg-12">
        <h3>Курс {{ name }} будет удален</h3>
        <h2>Вы действительно хотите удалить курс {{ name }}?</h2>
        <form method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" value="Delete">
          <a href="{% url 'index' %}" role="button" class="btn btn-success">Нет</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}