{% extends "base.html" %}


{% block title %}Coaches{% endblock title %}


{% load staticfiles %}


{% block naw_class_students %}active{% endblock %}


{% block content %}
<div class="container">
		<h1 class="cl_h1">{{coach.foolname}}</h1>
		<table class="table">
			<tr>
				<td>дата рождения</td>
				<td>{{coach.date_of_birth|date:"d F, Y"}}</td>
			</tr>
			<tr>
				<td>адрес</td>
				<td>{{coach.address}}</td>
			</tr>
			<tr>
				<td>почта</td>
				<td>{{coach.user.email}}</td>
			</tr>
			<tr>
				<td>логин skype</td>
				<td>{{coach.skype}}</td>
			</tr>
			<tr>
				<td>телефон</td>
				<td>{{coach.phone}}</td>
			</tr>
			<tr>
				<td>курсы учитель</td>
				{% for a in teacher %}
				<td><a href="{% url 'courses:detail' a.id %}">{{a.name}}</a> студенты курса <a href="{% url 'students:list_view' %}?course_id={{a.id}}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></td>
				{% endfor %}
			</tr>
			<tr>
				<td>курсы ассистент</td>
				{% for a in assist %}
				<td><a href="{% url 'courses:detail' a.id %}">{{a.name}}</a> студенты курса <a href="{% url 'students:list_view' %}?course_id={{a.id}}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></td>
				{% endfor %}
			</tr>
		</table>
	</div>
{% endblock content %}