{% extends '../templates/base.html' %}
{% load staticfiles %}

{% block title %}Teachers Page{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="header">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h1>
  </div>
  
  <div class="container">
    <table class="table">
      <tbody>
        <tr>
          <th>Date of birth</th>
          <th>{{ teacher.date_of_birth|date:'d F,Y' }}</th>
        </tr>
        <tr>
          <th>Address</th>
          <th>{{ teacher.address }}</th>
        </tr>
        <tr>
          <th>Email</th>
          <th>{{ teacher.user.email }}</th>
        </tr>
        <tr>
          <th>Skype</th>
          <th>{{ teacher.skype }}</th>
        </tr>
        <tr>
          <th>Phone</th>
          <th>{{ teacher.phone }}</th>
        </tr>
        <tr>
          <th>Coach on courses</th>
          <th>{% for course in teacher.coach_courses.all %}
                  <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a> Students in this course <a href="{% url 'students:list_view' %}?course_id={{ course.id }}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a><br>
              {% endfor %}
          </th>
        </tr>
        <tr>
          <th>Assistant on courses</th>
          <th>{% for course in teacher.assistant_courses.all %}
                  <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a> Students in this course <a href="{% url 'students:list_view' %}?course_id={{ course.id }}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a><br>
              {% endfor %}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
