{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Teachers Page</title>
    <!-- <link href="../static/css/bootstrap.css" rel="stylesheet"> -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">Main</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="{% url 'students:list_view' %}">Students</a></li>
        </ul>
      </div>
    </div>
    </nav>

    <div class="container">
      <h1 class="header">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h1>
    </div>

    <div class="container">
      <table class="table">
        <tbody>
          <tr>
            <th>Date of birth</th>
            <th>{{ teacher.date_of_birth }}</th>
          </tr>
          <tr>
            <th>Address</th>
            <th>{{ teacher.address }}</th>
          </tr>
          <tr>
            <th>Email</th>
            <th>{{ teacher.user.email }}</th>
          </tr>
          <tr>
            <th>Skype</th>
            <th>{{ teacher.skype }}</th>
          </tr>
          <tr>
            <th>Phone</th>
            <th>{{ teacher.phone }}</th>
          </tr>
          <tr>
            <th>Coach on courses</th>
            <th>{% for course in teacher.coach_courses.all %}
                    <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a> Students in this course <a href="{% url 'students:list_view' %}?course_id={{ course.id }}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a><br>
                {% endfor %}
            </th>
          </tr>
          <tr>
            <th>Assistant on courses</th>
            <th>{% for course in teacher.assistant_courses.all %}
                    <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a> Students in this course <a href="{% url 'students:list_view' %}?course_id={{ course.id }}"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a><br>
                {% endfor %}
            </th>
          </tr>
        </tbody>
      </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script src="../static/js/bootstrap.js"></script> -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
